{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "8394636b31285f0445618146da1f30f4af4c4574"
                            #_#_:local/root "../open-source"}}}
