{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "3977185a372f5a17a00e228d0baa15c5ed3a183c"
                            #_#_:local/root "../open-source"}}}
