{:deps
 {:aliases [:dev]}

 :dev-http
 {8347 "classpath:public"}

 :builds
 {:main
  {:target     :browser-test
   :runner-ns  lambdaisland.chui.demo
   :test-dir   "resources/public"
   :asset-path "/ui"
   :ns-regexp  "-test$"
   :devtools   {:repl-pprint true}}}

 :cache-blockers #{lambdaisland.chui.styles}
 }
