#kaocha/v1
{:plugins [:kaocha.plugin/notifier
           :kaocha.plugin/print-invocations
           :kaocha.plugin/profiling]

 :tests [{:type              :kaocha.type/chui
          :chui/compile-hook kaocha.chui/compile-shadow
          :chui/connect-hook kaocha.chui/launch-browser
          :chui/browser-url  "http://localhost:8347"
          :chui/open-url?    :auto
          :shadow/build-id   :kaocha
          }]}
