{:paths ["src"]
 :deps  {lambdaisland/glogi          {:mvn/version "1.0.70"}
         lambdaisland/deep-diff2     {:mvn/version "2.0.108" :exclusions [org.clojure/clojurescript]}
         kitchen-async/kitchen-async {:mvn/version "0.1.0-SNAPSHOT" :exclusions [org.clojure/core.async]}}}
