{:paths ["src"]
 :deps  {lambdaisland/glogi        {:mvn/version "1.0.63"
                                    :exclusions [org.clojure/clojurescript]}
         kitchen-async             {:mvn/version "0.1.0-SNAPSHOT"}}}
