{:paths ["src" "resources"]
 :deps  {lambdaisland/glogi        {:mvn/version "1.0.63"}
         reagent                   {:mvn/version "0.10.0"}
         lambdaisland/deep-diff2   {:mvn/version "2.0.0-93"}
         lambdaisland/chui-core    {:local/root "../chui-core"}}

 :aliases
 {:dev {:extra-deps {garden {:mvn/version "1.3.9"}}}}}
