{:paths ["src" "resources"]
 :deps  {reagent/reagent        {:mvn/version "0.10.0"}
         lambdaisland/chui-core {:local/root "../chui-core"}}

 :aliases
 {:lioss/release
  {:extra-paths ["release"]}}}
